/* Ajustement du footer pour mieux le représenter avec
* le design de mon site
*/

.site-footer
{
    border-top: 1px solid black;
    background-color: #0096db;
    margin-top: 3%;
    width: 100vw;
    overflow: hidden;

    .widget-footer
    {
        font-size: clamp(0.5rem, 2vh, 3rem);
        text-align: center;
    }

    /* Ajustements des liens dans le footer */
    
    .references
    {
        font-size: clamp(0.5rem, 2vh, 3rem);
        list-style-type: none;
        display: flex;
        justify-content: center;

        li
        {
            width: 15vw;
        }

        a
        {
            text-decoration: none;
            display: block;
        }
    }
}